@import "../bonus/components/img-rounded.css";
@import "../bonus/components/star.css";
@import "../bonus/components/social.css";






header {
   background-color: #2c3e50;
 }

 section:nth-child(odd) {
    background-color: #1abc9c;
 }

 #about .col-12,
 #about .col-6 {
    background-color: #2c3e50;
    height: 200px;
    border: 1px solid white;
}
footer .col-12,
footer .col-4 {
    background-color: bisque;
    height: 150px;
    border: 1px solid orange;
}

footer {
    background-color: #3a546d;
}

.container-fluid {
    background-color: #2c3e50;
}