@import "../bonus/components/img-rounded.css";
@import "../bonus/components/star.css";
@import "../bonus/components/social.css";






header {
   background-color: #2c3e50;
 }

 section:nth-child(odd) {
    background-color: #1abc9c;
 }
 ul {
    list-style-type: none;
 }
#start img {
    width: 230px;
}
footer {
    background-color: #3a546d;
}

footer span {
    color: #1abc9c;
}

.container-fluid {
    background-color: #2c3e50;
}