.fa-brands {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 50%;
}

.fa-facebook-f {
    padding: 15px 20px;
}
.fa-google-plus-g {
    padding: 15px 13px;
}